[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
openpyxl = "*"
scikit-learn = "*"
requests = "*"
seaborn = "*"
yfinance = "*"
matplotlib = "3.4.3"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.9"
